%h3= "Edit #{@details.name} hours for #{@park_day.to_s}"
%div
  %form{:action => "/save_details/#{@trip.slug}/#{@park_day.slug}/#{@details.abbr}", :method => "post"}
    %div
      Open:
      %input{:size => 2, :type => "text", :name => "open", :value => @details.open}
    %div
      Close:
      %input{:size => 2, :type => "text", :name => "close", :value => @details.close}
    %div
      Extra Magic Hours:
      %br
      Morning: 
      %input{:type => "checkbox", :name => "emh_am", :checked => @details.emh_am}
      %br
      Evening: 
      %input{:type => "checkbox", :name => "emh_pm", :checked => @details.emh_pm}
    %div
      %input{:type => "submit", :value => "Save Hours"}
