:javascript
  $(function() {
    $("#park_day_items").accordion({ autoHeight: false });

    $(".meal_field").hide();

    $("#meal_type_quick_service").attr("checked", "checked");
    
    $(".edit_meal .edit").button({
      icons: { primary: 'ui-icon-pencil'},
      text: false
    })
    .click(function() {
      $("#meal_dialog").dialog({modal:true, width:600, height:500, title:"Manage Meals: " + $(this).attr("title")});
      $("#meal_type #name").val($(this).attr("title"));
    });
    
    $("#my_radios").buttonset().find("input[type=radio]").change(function(e){
      $(".meal_field").hide();
      $(".meal_field INPUT").attr("disabled", true);
      $("#" + this.id + "_fields").show();
      $("#" + this.id + "_fields INPUT").removeAttr("disabled");
    });

    $("#meal_dialog").hide();

    $("#meal_type").submit(function(e) {
      var meal = $(this).serializeArray();
      var mealDiv;

      $.post('/save_meal', meal, function(data){
        //alert(data);
      });

      e.preventDefault();
      $("#meal_dialog").dialog('close');
    });

  });

%h3 View your Park Day
%p= @trip.name + ": " + @park_day.to_s
#park_day_items
  %h3
    %a{:href => "#"}My Park Choices
  %div
    %a{:href => "/park_choices/#{@trip.slug}/#{@park_day.slug}"}Manage your park choices
    %h4 Your Park Selections for Today
    %ul
      - @park_day.my_park_choices.each do |choice|
        %li
          = "#{choice.name}: #{choice.park_abbr}" 
  %h3
    %a{:href => "#"}Meals
  %div{:style => "font-size: .5em"}
    - Meal.default_meal_names.each do |meal_name|
      .edit_meal
        =meal_name
        %button{:class => 'edit', :id => "edit_#{meal_name}", :title => "#{meal_name.capitalize}"} Edit
    #meal_dialog{:style => "font-size: .75em"}
      %form{:id=>"meal_type", :method => 'post', :action => 'save_meal'}
        %input{:type => "hidden", :id => "name", :name => "name"}
        #my_radios
          - {:quick_service => "Quick Service", :table_service => "Table Service", :outside_wdw => "Outside WDW", :custom_meal => "Custom"}.each_pair do |key, value|
            %label{:for=>"meal_type_#{key}", :title=>value}= value
            %input{:type => "radio", :id=>"meal_type_#{key}", :name => 'meal_type', :value => value}
          - {:quick_service => "Quick Service", :table_service => "Table Service", :outside_wdw => "Outside WDW", :custom_meal => "Custom"}.each_pair do |key, value|
            %div{:id=>"meal_type_#{key}_fields", :class=>"meal_field"}
              - Meal.send("#{key}_fields".to_sym).each do |field|
                %span= "#{field.gsub("_", " ").capitalize}: "
                %input{:name => "#{field}", :id => "#{field}"}
        .meal_static_field
          %span Time: 
          %input{:name => "time", :id => "time"}
          %span Notes: 
          %input{:name => "notes", :id => "notes"}
          %input{:type => "submit", :value => "save"} 
  %h3
    %a{:href => "#"}my details
  %div
    %p the details I want to add, like TouringPlans.com crowd level information
    %p some more information about your details
    %p maybe you have a couple of notes
    %p and today's crowd rating is 7
    %p Epcot's crowd rating is 4.3
  %h3
    %a{:href => "#"}for activities
  %div
    %p non-park activities, such as going to downtown disney or hanging out at the pool
