:javascript
  $(function() {
    $("#park_day_items").accordion({ autoHeight: false });
    $(".edit_meal .edit").button({
      icons: { primary: 'ui-icon-pencil'},
      text: false
    });
  });

%h3 View your Park Day
%p= @trip.name + ": " + @park_day.to_s
#park_day_items
  %h3
    %a{:href => "#"}My Park Choices
  %div
    %a{:href => "/park_choices/#{@trip.slug}/#{@park_day.slug}"}Manage your park choices
    %h4 Your Park Selections for Today
    %ul
      - @park_day.my_park_choices.each do |choice|
        %li
          = "#{choice.name}: #{choice.park_abbr}" 
  %h3
    %a{:href => "#"}Meals
  %div{:style => "font-size: .25em"}
    - Meal.default_meal_names.each do |meal_name|
      .edit_meal
        =meal_name
        %button{:class => 'edit', :id => "edit_#{meal_name}"} Edit
  %h3
    %a{:href => "#"}my details
  %div
    %p the details I want to add, like TouringPlans.com crowd level information
    %p some more information about your details
    %p maybe you have a couple of notes
    %p and today's crowd rating is 7
    %p Epcot's crowd rating is 4.3
  %h3
    %a{:href => "#"}for activities
  %div
    %p non-park activities, such as going to downtown disney or hanging out at the pool
