:javascript
  $(function() {
    $("#park_day_items").accordion({ autoHeight: false });
    $(".edit_meal .edit").button({
      icons: { primary: 'ui-icon-pencil'},
      text: false
    }).click(function() {alert(this.id);});
  });

%h3 View your Park Day
%p= @trip.name + ": " + @park_day.to_s
#park_day_items
  %h3
    %a{:href => "#"}My Park Choices
  %div
    %a{:href => "/park_choices/#{@trip.slug}/#{@park_day.slug}"}Manage your park choices
    %h4 Your Park Selections for Today
    %ul
      - @park_day.my_park_choices.each do |choice|
        %li
          = "#{choice.name}: #{choice.park_abbr}" 
  %h3
    %a{:href => "#"}Meals
  %div{:style => "font-size: .25em"}
    - Meal.default_meal_names.each do |meal_name|
      .edit_meal
        =meal_name
        %button{:class => 'edit', :id => "edit_#{meal_name}"} Edit
    #meal_dialog
      #quick_service
        %h4 Quick Service Meal
        %form{:id => 'save_qs', :method => 'post', :action => 'save_meal'}
          %hidden{:id => 'meal_type', :name => 'meal_type', :value => 'Quick Service'}
          - Meal.quick_service_fields.each do |field|
            %span= "#{field.capitalize}: "
            %input{:name => "#{field}", :id => "#{field}"}
          %span Time: 
          %input{:name => "time", :id => "time"}
          %span Notes: 
          %input{:name => "notes", :id => "notes"}
          %input{:type => "submit", :value => "save"}
      #table_service
        %h4 Table Service Meal
        %form{:id => 'save_ts', :method => 'post', :action => 'save_meal'}
          %hidden{:id => 'meal_type', :name => 'meal_type', :value => 'Table Service'}
          - Meal.table_service_fields.each do |field|
            %span= "#{field.capitalize.gsub('_', ' ')}: "
            %input{:name => "#{field}", :id => "#{field}"}
          %span Time: 
          %input{:name => "time", :id => "time"}
          %span Notes: 
          %input{:name => "notes", :id => "notes"}
          %input{:type => "submit", :value => "save"}
      #outside_wdw
        %h4 Meal Outside WDW
        %form{:id => 'save_outside_wdw', :method => 'post', :action => 'save_meal'}
          %hidden{:id => 'meal_type', :name => 'meal_type', :value => 'Outside WDW'}
          - Meal.outside_wdw_fields.each do |field|
            %span= "#{field.capitalize.gsub('_', ' ')}: "
            %input{:name => "#{field}", :id => "#{field}"}
          %span Time: 
          %input{:name => "time", :id => "time"}
          %span Notes: 
          %input{:name => "notes", :id => "notes"}
          %input{:type => "submit", :value => "save"}
      #custom_meal
        %h4 Custom Meal 
        %form{:id => 'save_custom_meal', :method => 'post', :action => 'save_meal'}
          %hidden{:id => 'meal_type', :name => 'meal_type', :value => 'Custom Meal'}
          - Meal.custom_meal_fields.each do |field|
            %span= "#{field.capitalize.gsub('_', ' ')}: "
            %input{:name => "#{field}", :id => "#{field}"}
          %span Time: 
          %input{:name => "time", :id => "time"}
          %span Notes: 
          %input{:name => "notes", :id => "notes"}
          %input{:type => "submit", :value => "save"}
  %h3
    %a{:href => "#"}my details
  %div
    %p the details I want to add, like TouringPlans.com crowd level information
    %p some more information about your details
    %p maybe you have a couple of notes
    %p and today's crowd rating is 7
    %p Epcot's crowd rating is 4.3
  %h3
    %a{:href => "#"}for activities
  %div
    %p non-park activities, such as going to downtown disney or hanging out at the pool
