:javascript
  $(document).ready(function() {
    //alert('document ready!');
    $('a.toggler').each(function(){
      $("#edit-" + $(this).attr('name')).hide();
    });

    $('a.toggler').click(function(e) {
      e.preventDefault();
      var toggleBase = $(this).attr('name');
      $("#edit-" + toggleBase).toggle('blind');
    });
  });

%h3= @trip.name
%h4= @trip.length_and_begins_on
%ul#park_days_list
  - @trip.park_days.each do |d|
    %li
      %span
        = d.to_s
      %ul#hours_list
        - d.park_details.each do |detail|
          %li
            = detail.to_short_display
            %a{:name => "#{d.slug}-#{detail.abbr}", :href => "", :toggle => "edit-#{d.slug}-#{detail.abbr}", :class => 'toggler'} edit
            %div{:id => "edit-#{d.slug}-#{detail.abbr}", :class => "toggle-div"}
              %form{:action => "/save_details/#{@trip.slug}/#{d.slug}/#{detail.abbr}", :method => "post"}
                Morning EMH: 
                %input{:type => "checkbox", :name => "emh_am", :checked => detail.emh_am}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Evening EMH: 
                %input{:type => "checkbox", :name => "emh_pm", :checked => detail.emh_pm}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Open:
                %input{:size => 2, :type => "text", :name => "open", :value => detail.open}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Close:
                %input{:size => 2, :type => "text", :name => "close", :value => detail.close}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                %input{:type => "submit", :value => "OK"}
                %input{:type => "button", :value => "Cancel", :class => "cancel"}
                
