:javascript
  $(document).ready(function() {
    $('a.toggler').each(function(){
      $("#edit-" + $(this).attr('name')).hide();
    });

    $('a.toggler').click(function(e) {
      e.preventDefault();
      
      var toggleBase = $(this).attr('name');
      $("#edit-" + toggleBase).toggle('blind');
    });

    $('input.cancel').click(function(e) {
      $(this).parent().parent().toggle('blind');
    });

    $('form').submit(function(e) {
      var formArray = $(this).serializeArray();
      var idBase = formArray[1].value + "-" + formArray[2].value;
      var labelToUpdate = "#label-" + idBase;
      var editToClose = "#edit-" + idBase;

      $.post('/save_details', formArray, function(data){
        $(labelToUpdate).html(data);
        $(editToClose).toggle('blind');
      });

      e.preventDefault();
    });
  });

%h3= @trip.name
%h4= @trip.length_and_begins_on
%ul#park_days_list
  - @trip.park_days.each do |d|
    %li
      %span
        = d.to_s
      %a{:href => "/park_day/#{@trip.slug}/#{d.slug}"} View this day
      %ul#hours_list
        - d.park_details.each do |detail|
          %li
            %span{:id => "label-#{d.slug}-#{detail.abbr}"}
              = detail.to_short_display
            %a{:name => "#{d.slug}-#{detail.abbr}", :href => "", :class => 'toggler'} edit
            %div{:id => "edit-#{d.slug}-#{detail.abbr}", :class => "toggle-div"}
              %form{:action => "/save_details", :method => "post"}
                %input{:type => "hidden", :name => "trip", :value => @trip.slug }
                %input{:type => "hidden", :name => "park_day", :value => d.slug }
                %input{:type => "hidden", :name => "park", :value => detail.abbr}
                Morning EMH: 
                %input{:type => "checkbox", :name => "emh_am", :checked => detail.emh_am}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Evening EMH: 
                %input{:type => "checkbox", :name => "emh_pm", :checked => detail.emh_pm}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Open:
                %input{:size => 2, :type => "text", :name => "open", :value => detail.open}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Close:
                %input{:size => 2, :type => "text", :name => "close", :value => detail.close}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                %input{:type => "submit", :value => "OK"}
                %input{:type => "button", :value => "Cancel", :class => "cancel"}
                
